/**
 * BASE
 */
* {
	margin: 0;
	padding: 0;
}

body {
	padding-left: 10px;
	padding-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
}

/**
 * DEFAULT MARGIN/PADDING
 */
.margin-default {
	margin: 10px;
}

.padding-default {
	padding: 10px;
}

/**
 * CENTER
 */
.center-div {
	margin-left: auto;
	margin-right: auto;
}

.center-txt {
	text-align: center;
}

.center-vertical {
	transform: translateY(+50%);
}


/**
 * BUTTONS
 */

.button-success {
	background: rgb(28, 184, 65) !important;
}

.button-error {
	background: rgb(202, 60, 60) !important;
}

.button-xlarge {
	font-size: 125% !important;
}

.button-xxlarge {
	font-size: 150% !important;
}

.div-button-back {
	margin-top: 20px;
}


/**
 * ARROWS
 */
#arrow {
	width: 50px;
	height: 100px;
	background-color: #3498db;
	position: relative;
	margin-bottom: 60px;
}

#arrow:after {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 50px solid #3498db;
	position: absolute;
	bottom: -50px;
	margin-left: -15px;
}

#arrow-horizontal {
	height: 50px;
	background-color: #3498db;
	position: relative;
	margin-left: 60px;
	margin-right: 90px;
	margin-top: 40px;
}

#arrow-horizontal:after {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 40px solid #3498db;
	border-right: 40px solid transparent;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	position: absolute;
	top: -25px;
	right: -80px;
}

/**
 * EVENT AND ACTION PAGES
 */
.events, .actions {
	list-style-type: none;
}

.event, .action {
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset , 0 0 0 0 transparent;
	background-color: #f8f8f8;
	margin-bottom: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 9999;
	color: white;
}
