<div class="center-div center-txt">
	<h1>jsbot-manager</h1>

	<a href="#/addEvent" class="button-xlarge pure-button pure-button-primary">Add</a>
	<br><br>
	<a href="#/list" class="button-xlarge pure-button pure-button-primary">List</a>
	<br><br>
	<a href="#/manageSlaves" class="button-xlarge pure-button pure-button-primary">Manage slaves</a>
</div>
